.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
.aboba {
    height: 35vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
#up {
    background-color: #17a2b8;
    border-radius: 50rem;
    position: fixed;
    padding-bottom: 2%;
    bottom: 2%;
    left: calc(100% - 100px);
    padding: 10px;
}

#up a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}


#zap {

    border-radius: 50rem;
    position: fixed;
    padding-bottom: 2%;
    bottom: 2%;
    right: calc(100% - 220px);
    padding: 10px;
}

#zap a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.d-inline-block {
    display: inline-block;
}
.thumbnail-text {
    position: absolute;
    bottom: 5%;
    left: 5%;
    transform: translateX(-50%);
}

.d-inline-block {
    display: inline-block;
}


